<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
     <link rel="stylesheet" href="/assets/css/index.css">
      <link rel="stylesheet" href="/assets/css/navbar.css">
        <link rel="stylesheet" href="/assets/css/project.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  

 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="/assets/img/logo.png" alt="Logo" class="navbar-logo" style="height: 30px;" />

    <!-- Tombol Hamburger (Navbar Toggler) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Daftar Menu yang Dapat Collapse -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project">My Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testimonial">Testimonial</a>
        </li>
      </ul>

      <!-- Menambahkan tombol Login, Register, dan Contact di kanan -->
      <div class="navbar-nav ms-auto">
        {{#if user}}
          <div class="navbar-user">
            <span class="navbar-user-name">Welcome, {{user.name}}!</span>
            <form action="/logout" method="post" class="d-inline">
              <button type="submit" class="btn btn-link logout-btn">Logout</button>
            </form>
          </div>
        {{else}}
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <a href="/contact" class="btn btn-outline-dark contact-btn">Contact</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

        
    
    
    
    <body>


  
    
        <div class="super-center-grid-container">

          <div class="super-center-grid">
   
            <div class="all-contain">

                <div class="par">
                  
                  <h3>Hi Welcome To My Hut</h3> 
           
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laborum ipsa rerum quae fugit! Magnam rem omnis accusamus vero totam sunt deleniti, fugiat recusandae? Voluptate architecto molestias nemo at. Quia!
                  
                  <div class="cd">
          
                    <a href="/contact"  class="btn btn-outline-dark active contact-btn">Contact Me</a>
        
                    <a href="assets/img/cv veni vansurya - 1728640129.pdf" class="download-cv">downloadCV</a>
        
                  
                    <img src="assets/img/download.png" alt="symbol-download" width="20" height="20">
                    </div>
      
                  <div class="icon">
                   
                    <i class="fa-brands fa-facebook"class="icon"></i>
                    <i class="fa-brands fa-linkedin"class="icon"></i>
                    <i class="fa-brands fa-twitter"class="icon"></i>
                    <i class="fa-brands fa-instagram"class="icon"></i>
                    </div>
                </div>
              
        
              <div class="foto">
  
                <div class="me"> 
          
                <img class="gambar" src="assets/img/Screenshot_20241015-203305.jpg" alt="my-pic" width="200px";   height="250px"; >
  
  
                <div class="abo">
      
                  <h4>Veni Vansurya</h4>
                  <h5>Fullstack Developer</h5>
               </div>
                
  


            </div>

       
        


          </div>
  
     </div>
              <!-- Projects Display Section -->
      <section class="projects-section">
  <h1>MY PROJECTS</h1>
  <div id="projectsContainer" class="projects-container">
    {{#each projects}}
      <div class="project-card">
        <div class="img">
          <img src="{{image}}" alt="Project Image"/>
        </div>

        <h2>
          <a href="/project-detail/{{id}}" target="_blank" class="h2">{{project_name}}</a>
        </h2>

        <!-- Date and Duration -->
        <p><strong>Start Date:</strong> {{get_full_time start_date}}</p>
        <p><strong>End Date:</strong> {{get_full_time end_date}}</p>
        <p><strong>Duration:</strong> {{get_duration start_date end_date}}</p>

        <!-- Time since created -->
        <p><strong>Posted:</strong> {{get_distance_time createdAt}}</p>

        <!-- Technologies -->
        <p><strong>Technologies:</strong> {{technologies}}</p>

        <!-- Author Information -->
        <p><strong>Author:</strong> {{author}}</p> <!-- assuming 'author' has a 'name' field -->

        <!-- Action Buttons -->
        {{#if ../user}}
        <div class="btn-group">
          <a class="btn btn-primary" href="/edit-project/{{id}}" role="button">Edit Post</a>
          <form method="post" action="/delete-project/{{id}}">
            <button type="submit" class="btn btn-danger">Delete Post</button>
          </form>
        </div>
         {{/if}}
      </div>
     
    {{/each}}
  </div>
</section>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
     
      
     </body>    


  
</html>